.about {
    padding-bottom: 5rem;

    &__bio-image {
        height: 100vh;
        width: 100%;
        // background: 
        //   linear-gradient(
        //     to left,
        //     rgba($primary-color, 0.9),
        //     rgba($secondary-color, 0.3)
        //   );
        background: 
          linear-gradient(
            to left,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
          ),
          url('../Assets/Images/a-logo-i-made.jpg') center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    
        p {
          margin-bottom: 2rem;
        }
      }
    
      &__bio {
        width: 80%;
        text-align: center;
        padding-bottom: 175px;
    
        .text-secondary {
          padding-bottom: 1rem;
        }
      }

    .skills {
        width: 40vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
        font-size: 6rem;

        &__skill {
           background: lighten($primary-color, 10%);
           padding: 0.5rem;
           border-bottom: 5px solid $third-color; 
        }

        h2, h3 {
            margin: 0.5rem 0;
        }
        h6 {
            margin: 0.3rem 0;
        }
    }

    .jobs {
        width: 40vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;

        &__job {
           background: lighten($primary-color, 10%);
           padding: 0.5rem;
           border-bottom: 5px solid $third-color; 
        }

        h2, h3 {
            margin: 0.5rem 0;
        }
        h6 {
            margin: 0.3rem 0;
        }
    }

    .schools {
        width: 40vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        
        &__school {
           background: lighten($primary-color, 10%);
           padding: 0.5rem;
           border-bottom: 5px solid $third-color; 
        }

        h2, h3 {
            margin: 0.5rem 0;
        }
        h6 {
            margin: 0.3rem 0;
        }
    }

    .job-desc-list {
        list-style-type: none;
    }

    .schools-desc-list {
        list-style-type: none;
    }

    .work-history {
        text-align: center;
    }

    .education {
        text-align: center;
    }

    .job-desc {
        text-align: center;
        padding-left: 25px;
    }

    .school-desc {
        text-align: center;
        padding-left: 25px;
    }

    h3 {
        color: $secondary-color;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
    }

    // footer {
    //     transform: 
    //         rotate(90deg)
    //         translate(-3rem, -5rem);
    // }


}